<a  href="/home" class="navItem">Home</a>
<a  href="/addAuthor" class="navItem">Add New Authors</a>
<a  href="/addQuote" class="navItem">Add New Quotes </a>
<a  href="/authorList" class="navItem">Author List </a>
<a  href="/quoteList" class="navItem">Quotes List </a>
<a  href="/logout" class="navItem">Logout</a>
