<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs")  %>
<body class="text-center">
  <h1>Lab 7</h1>
  <%- include("../partials/nav.ejs")  %>
    <br><br>
    
    <form action="/addAuthor">
        <button>Add New Authors</button>
    </form>
    <br>
    <form action="/addQuote">
        <button>Add New Quotes</button>
    </form>
    <br>
    <form action="/authorList">
        <button>Display Authors</button>
    </form>
    <br>
    <form action="/quoteList">
        <button>Display Quotes</button>
    </form>
</body>
</html>